# Rust build artifacts
latency-x-core/target/

# Local configuration - do not commit this.
# Commit the Config.toml.example file instead.
latency-x-core/Config.toml

# IDE/Editor files
.idea/
.vscode/
*.swp
*~

# OS-specific files
.DS_Store 

# Node
node_modules/
node-v20.3.1-darwin-x64/
node.tar.gz
.env 